* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	--body-bg-color: #e5e5e5;
	--header-normal_msg-bg-color: #fff;
	--private_msg-bg-color: #ffdede;
	--status_msg-bg-color: #dcdcdc;
	--time_msg-color: #aaaaaa;
}

body {
	background-color: var(--body-bg-color);
}

header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--header-normal_msg-bg-color);
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
	position: fixed;
	left: 0;
	top: 0;
}

.container-header {
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-header ion-icon {
	font-size: 45px;
}

main {
	margin-top: 106px;
	margin-bottom: 80px;
}

main .container-mensagem {
	width: 100%;
	min-height: 40px;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 2px;
	margin-bottom: 4px;
}
.container-mensagem.status_msg {
	background-color: var(--status_msg-bg-color);
}

.container-mensagem.private_msg {
	background-color: var(--private_msg-bg-color);
}

main .container-mensagem .mensagem {
	width: 95%;
	height: 100%;
	margin: 0 auto;
	word-wrap: break-word;
	line-height: 16px;
	font-size: 14px;
	font-weight: 400;
}

.mensagem small {
	color: var(--time_msg-color);
	margin-right: 5px;
}

.mensagem span {
	font-weight: 700;
}

.container-input {
	width: 100%;
	height: 80px;
	background-color: #fff;
	box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
	position: fixed;
	left: 0;
	bottom: 0;
}

.container-input div {
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.container-input div input {
	height: 30px;
	width: 80%;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 18px;
}

.container-input div input::placeholder {
	color: black;
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
}

.container-input div ion-icon {
	font-size: 26px;
}

.container-login {
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
	background-color: var(--header-normal_msg-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-login img {
	width: 130px;
	height: 92px;
	margin-top: 20%;
}

.container-login.desabilitado {
	display: none;
}

.container-login .input-login {
	margin-top: calc(50% - 49px);
	padding: 20px 30px;
	outline: none;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	color: black;
	font-family: "Roboto", sans-serif;
}

.container-login .input-login::placeholder {
	font-size: 18px;
	color: #aeaeae;
	font-family: "Roboto", sans-serif;
}

.container-login .botao-login {
	margin-top: 5%;
	padding: 12px 30px;
	outline: none;
	border: none;
	background-color: #e7e7e7;
	border-radius: 9px;
	color: #696969;
	font-weight: 400;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
}

.container-login .gif-carregamento {
	width: 150px;
	height: 150px;
	margin-top: calc(50% - 92px);
}

.container-login p {
	margin-top: 5%;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
